:root{
    --1: #205374;
    --2: #27A09E;
    --3: #30CE88;
    --4: #7DE393;
    --5: #D3F5CE;
}

*{
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
}

/**** Navegación **********/
header{
    align-items: center;
    background: #205374;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 70px;
}


header a {    
    text-decoration: none;
    font-size: 27px;
    color: #fff;
}

.navUsuario{
    display: flex;
    gap: 5px;
}

.navUsuario a:hover{
    color: #7DE393;    
    transition: color 2s;
}

header nav{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

header nav a{
    color: #fff;
    text-decoration: none;
}

header nav a:hover{    
    
    color: #7DE393;    
    transition: color 2s;
}

/*********** Banner Enfermedades ********/
.bannerActFisica{
    background-image: url("../Img/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg");
    background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    height: 650px;
    width: 100%;
}

.bannerActFisica h1 {
    text-align: center;
    font-size: 120px;
    padding-top: 200px;
    color: #ffffff;
    
}


/* Boton Registrar */
body form {
    width: fit-content;
    margin: auto;
}

input[type=text],
input[type=date],
input[type=number],
input[type=time],
input[type=password],
select, 
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button]{
    background-color: #205374;
    width: 30%;
    color: white;

    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input[type=button]:hover{
    background-color: #30CE88;
}

.tipoBoton{
    background-color: #205374;
    width: 30%;
    color: white;
    font-size: 20px;

    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tipoBoton:hover {
    background-color: #30CE88;
}

.error{
    border: 1px solid red;
}


/************ Registro Enfermedad ************/
main h1{
    text-align: center;
    margin-top: 100px;
    font-size: 45px;
    color: #205374;
}

.sctRegistroEnfermedad {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    margin-top: 40px;
    background-color: #27A09E;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 70px;
    padding-bottom: 50px;
    border-radius: 15px;
}

.sctRegistroEnfermedad img {
    height: 500px;
    width: 360px;
    border-radius: 9px;
}

.sctRegistroEnfermedad h2{
    font-size: 45px;
    padding-bottom: 60px;
    color: #205374;
}

.sctRegistroEnfermedad form label {
    font-size: 28px;
    color: #ffffff;
}

.sctRegistroEnfermedad form input {
    font-size: 17px;
    padding-bottom: 20px;
}


.sctRegistroEnfermedad form select option {
    font-size: 17px;
}

/********** Tabla ****************/
.sctTablaEnferm{
    margin-top: 130px;
    margin-bottom: 130px;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sctTablaEnferm table{
    width: 1000px;
    height: 500px;
}


#tablaEnferm {
    font-size: 18px;
    border-collapse: collapse;
}

#tablaEnferm tr {
    height: 40px;
}

#tablaEnferm tr td,
#tablaEnferm tr th {
    padding: 10px;
    text-align: center;
}


#tablaEnferm thead tr {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#tablaEnferm thead tr th {
    color: #205374;
    font-size: 30px;
}

#tablaEnferm tbody tr {
    border-bottom: 2px solid #27A09E;
    font-size: 27px;
}

#tablaEnferm tbody tr:hover{
    background: #30CE88;
    color: #fff;
}

/***************** Footer ************************/

.contenedorFooter {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #205374;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}