:root{
    --1: #205374;
    --2: #27A09E;
    --3: #30CE88;
    --4: #7DE393;
    --5: #D3F5CE;
}

*{
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
}

/**** Navegación **********/
header{
    align-items: center;
    background: #205374;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 70px;
}


header a {    
    text-decoration: none;
    font-size: 27px;
    color: #fff;
}

.navUsuario{
    display: flex;
    gap: 5px;
}

.navUsuario a:hover{
    color: #7DE393;    
    transition: color 2s;
}

header nav{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

header nav a{
    color: #fff;
    text-decoration: none;
}

header nav a:hover{    
    
    color: #7DE393;    
    transition: color 2s;
}

/*********** Banner Enfermedades ********/
.bannerActFisica{
    background-image: url("../Img/LogrosBanner2.jpg");
    background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    height: 650px;
    width: 100%;
}

.bannerActFisica h1 {
    text-align: center;
    font-size: 120px;
    padding-top: 200px;
    color: #ffffff;
    
}


/* Boton Registrar */

button {
    background-color: #205374;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
}


button:hover{
    background-color: #30CE88;
}


.error{
    border: 1px solid red;
}
/* Seccion Logros */

#sctMitos h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px ;
    padding-top: 20px;
    color: #27A09E;
    font-weight: bold;
}


#sctMitos {
    display: block;
    padding-bottom: 130px;
    padding-left: 230px;
    padding-right: 230px;
}

.contenedorMitos{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 100px;
}

.mito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
}

#sctMitos p {
    font-size: 30px;
    padding: 30px 20px;
    text-align: center;
    color: #ffffff;
    line-height: 1.5;
}

.mito img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

/* sctTabla */

#sctTabla {
    background-color: #27A09E;
    padding: 50px;
    display: flex;
    justify-content: center;
}

#tblLogros {
    padding: 50px;
    width: 1300px;
}

#tblLogros th, td {
    background: white;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#tblLogros th {
    font-size: 27px;
    text-align: center;
}

.btnTabla {
    text-align: center;
}

.btnTabla button {
    color: black;
}

#btnReduccionPeso:hover, #btnIMC:hover, #btnLogros:hover {
    background-color: #27A09E;
    border: none;
    color: white;
    cursor: pointer;
}

#tblLogros button {
    height: 35px;
    width: 50px;
    border: 1px solid black;
    background: transparent;
    border-radius: 8%;
    font-size: 15px;
}

/***************** Footer ************************/

.contenedorFooter {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #205374;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}