/* Estilos xra ventanas Modals */

.modalBody1 {
    display: flex;
    justify-content: center;
}

.modalBodyInputs {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 27px;
}

.modalBodyImg {
    width: 45%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 27px;
}

.modalBody1 img{
    width: 150px;
    height: 150px;
}

#imgReceta {
    width: 150px;
}

.modalBody2 {
    display: flex;
}

.modalBodyIngredientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding: 27px;
}

.modalBodyProcedimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding: 27px;
}

.modalBodyInputs input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modalBodyInputs label {
    font-size: 17px;
}

.modalFooter button {
    text-align: center;
    font-size: 20px;
}